.alarm-list-item {

    .warning-text {
        color:#fd7c00 !important;
    }   

    .healthy-text {
        color: #0AC410 !important;
    } 

    .critical-text {
        color: #D11515 !important;
    }     

    .inactive-text {
        color: #BFCCDD !important;
    } 

     .fault-text {
        color: #fd7c00 !important;
    } 


  .healthy {
    background-color: #0AC410 !important;
  }

  .critical {
    background-color: #D11515 !important;
  }

  .inactive {
    background-color: #BFCCDD !important;
  }

  .warning {
    background-color: #fd7c00 !important;
  }

   .fault {
    background-color: #fd7c00 !important;
  }




}
