
fuel {

    
.panel-primary {
        border-color: #001441 !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-top: 5px solid;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-primary>.panel-heading {
    color: #001441;
    background-color: #E6EAED;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}

  .filter-text {
      width: 150px;
      background-color: #1b202d;
      color: white;
      font-weight: bold;
      padding-left: 25px;
      padding-top: 17px;
  }
    .fuel-gradient {
        background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(44,44,44,1) 89%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(89%, rgba(44,44,44,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(44,44,44,1) 89%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(44,44,44,1) 89%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(44,44,44,1) 89%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(44,44,44,1) 89%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    }
   .button-bar {
       background-color: #5F5B5B;
       width: 100%;
       
       .md-datepicker-input-container {
           border-bottom: none;
           width: 100px;
       }
       .md-datepicker-triangle-button .md-datepicker-expand-triangle {
           border-top-color: white;
       }
       .md-datepicker-expand-triangle {
           border-left: 8px solid transparent;
           border-right: 8px solid transparent;
           border-top: 8px solid;
       }
       .md-datepicker-input {
           color: white;
       }
       .md-datepicker-triangle-button.md-button.md-icon-button {
           margin-top: -3px;
           border: 2px solid grey;
           //border-right : 4px solid grey;
       }
       .md-button.md-icon-button {
           border-radius: 20%;
       }
       
       /* do not group these rules */
       *::-webkit-input-placeholder {
         color:#A9A9A9;
         font-weight: bold;
       }
       *:-moz-placeholder {
       /* FF 4-18 */
          color: #A9A9A9;
          font-weight: bold;
       }
      *::-moz-placeholder {
         /* FF 19+ */
         color: #A9A9A9;
         font-weight: bold;
       }
      *:-ms-input-placeholder {
        /* IE 10+ */
        color: #A9A9A9;
        font-weight: bold;
       }
       md-icon {
           color:#A9A9A9;
       }

      md-select {
        min-width: 150px;
      }

       md-select .md-select-value {
           border-bottom: none;
           color: white;
      }

       md-select:not([disabled]):focus .md-select-value {
           border-bottom: none;
           color: white;
       }
       .md-select-value .md-select-icon:after {
           font-size: 20px;
      }
      md-icon {
        margin: 10px;
        margin-top: 15px;
        font-size: 40px;
        color:black;
      }
   }
    // Common css Start

    .md-button {
            line-height: 25px !important;
            font-size: 12px;
    }

    $parker-yellow: #ffb91d;
    $white :#ffffff;

    .md-title {
        padding:5px 5px;
        text-align: center;
    }

    // Common css End

    .border {
        border: 1px solid red;
    }

    .border {
        border:1px solid red;
    }

    .chart-wrapper {
        width:100%;
        float:left;
    }

    .md-subhead {
        font-size: 18px;
    }

     // Slider start
    // .slider-container{
    //    padding-top: 100px;
    // }

    .md-track {
        border: 2px solid #515875 !important;
        height: 11px !important;
    }

    .md-thumb {
        -webkit-transform: scale(0.0);
        transform: scale(0.0) !important;
    }

    .md-slider.md-default-theme .md-track, .md-track {
        background: -webkit-linear-gradient(left,green, yellow,red) !important;; /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left,green, yellow,red) !important;; /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left,green, yellow,red) !important;; /* For Fx 3.6 to 15 */
        background: linear-gradient(left,green, yellow,red) !important; /* Standard syntax (must be last) */
    }

    .md-disabled-thumb {
        left: -14px !important;
        top: 9px !important;
        width: 40px !important;
        height: 38px !important;
        background-color:#9fb8cc !important;
    }

    .md-slider .md-thumb {
        left: -1px;
        top: 18px;
    }
    // Slider end

.stats_box {
    display: inline-block;
    list-style: none outside none;
    margin-left: 0;
    margin-top: 20px;
    padding: 0
}
.stats_box li {
    background: #eee;
    -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    display: inline-block;
    line-height: 18px;
    margin: 0 6px 10px;
    padding: 8px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    float: left;
    background-color: whitesmoke;
}
.stats_box .stat_text {
    float: left;
    font-size: 12px;
    padding: 9px 5px 3px 0;
    text-align: left;
    min-width: 120px;
    position: relative;
}
.stats_box .stat_text strong {
    display: block;
    font-size: 16px
}
.stats_box .stat_text .percent {
    color: #444;
    float: right;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 17px
}
.stats_box .stat_text .percent.up {
    color: #46a546
}
.stats_box .stat_text .percent.down {
    color: #c52f61
}

.sparkline{min-width:50px;border-right:1px solid #dcdcdc;-webkit-box-shadow:1px 0 0 0 #fff;box-shadow:1px 0 0 0 #fff;float:left;margin-right:12px;line-height:52px}

.active {
    border: 1px solid gainsboro;
}


table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}

    .table {
        border-collapse: collapse !important
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important
    }

    table {
    background-color: transparent
}
th {
    text-align: left
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dfd7ca
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #dfd7ca
}
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0
}
.table>tbody+tbody {
    border-top: 2px solid #dfd7ca
}
.table .table {
    background-color: #ffffff
}
.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px
}
.table-bordered {
    border: 1px solid #dfd7ca
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #dfd7ca
}
.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f8f5f0
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #f8f5f0
}
table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell
}
.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>tfoot>tr>td.active,
.table>thead>tr>th.active,
.table>tbody>tr>th.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>tbody>tr.active>td,
.table>tfoot>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr.active>th,
.table>tfoot>tr.active>th {
    background-color: #f8f5f0
}
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover,
.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr.active:hover>th {
    background-color: #f0e9df
}
.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    background-color: #dff0d8
}
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover,
.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr.success:hover>th {
    background-color: #d0e9c6
}
.table>thead>tr>td.info,
.table>tbody>tr>td.info,
.table>tfoot>tr>td.info,
.table>thead>tr>th.info,
.table>tbody>tr>th.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>tbody>tr.info>td,
.table>tfoot>tr.info>td,
.table>thead>tr.info>th,
.table>tbody>tr.info>th,
.table>tfoot>tr.info>th {
    background-color: #d9edf7
}
.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover,
.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr.info:hover>th {
    background-color: #c4e3f3
}
.table>thead>tr>td.warning,
.table>tbody>tr>td.warning,
.table>tfoot>tr>td.warning,
.table>thead>tr>th.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>tbody>tr.warning>td,
.table>tfoot>tr.warning>td,
.table>thead>tr.warning>th,
.table>tbody>tr.warning>th,
.table>tfoot>tr.warning>th {
    background-color: #fcf8e3
}
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover,
.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr.warning:hover>th {
    background-color: #faf2cc
}
.table>thead>tr>td.danger,
.table>tbody>tr>td.danger,
.table>tfoot>tr>td.danger,
.table>thead>tr>th.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>tbody>tr.danger>td,
.table>tfoot>tr.danger>td,
.table>thead>tr.danger>th,
.table>tbody>tr.danger>th,
.table>tfoot>tr.danger>th {
    background-color: #f2dede
}
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover,
.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr.danger:hover>th {
    background-color: #ebcccc
}
@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dfd7ca;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive>.table {
        margin-bottom: 0
    }
    .table-responsive>.table>thead>tr>th,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tfoot>tr>td {
        white-space: nowrap
    }
    .table-responsive>.table-bordered {
        border: 0
    }
    .table-responsive>.table-bordered>thead>tr>th:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child {
        border-left: 0
    }
    .table-responsive>.table-bordered>thead>tr>th:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child {
        border-right: 0
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .table-responsive>.table-bordered>tfoot>tr:last-child>th,
    .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .table-responsive>.table-bordered>tfoot>tr:last-child>td {
        border-bottom: 0
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color:  #CCCCCC;
}

md-input-container.md-icon-left {
    padding-left: 0px !important;
    padding-right: 0 ;
}

md-select {
    margin: 10px 0 11px 0 !important;
}



// Panel corlor 


// Panel corlor end

}
