
.login {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424242+0,2b313f+44,101f20+99 */
  background: #424242; /* Old browsers */
  background: -moz-linear-gradient(top,  #424242 0%, #2b313f 44%, #101f20 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #424242 0%,#2b313f 44%,#101f20 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #424242 0%,#2b313f 44%,#101f20 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#101f20',GradientType=0 ); /* IE6-9 */

  md-content {
    background-color: transparent !important;
  }
  
}
