alerts {

    .md-select-value {
      margin-right: 5px;
    }


.groupX {
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: white;
    background-color: #007095;
    border-color: #007095;
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}

.md-button.left {
    border-radius: 10px 0 0 10px;
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);

}

.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.md-button.right {
    border-radius: 0 10px 10px 0;
}

#category .md-button:not([disabled]):hover {
    background-color: salmon;
    color: brown;
    transition: 0.3s;
}

.panel-primary {
        border-color: #001441 !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-top: 5px solid;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-primary>.panel-heading {
    color: #001441;
    background-color: #E6EAED;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}



}