
<!--<div class="button-bar" layout="row">
   <div layout="row" class="filter-text">Filters</div>
   <div class="text-center" flex-xs="100" flex="100" layout-xs="colomn" layout-sm="row" layout-md="row" layout-gt-md="row"">
      &nbsp;&nbsp;&nbsp;-->
      <!--<div flex-xs="50" flex="48" style="border-right:2px solid black; min-width: 220px" layout="row">
         <md-icon md-font-icon="icon-calendar-flled"></md-icon>
         <md-select style="background-color: #5F5B5B;" placeholder="Choose Vehicle Filter" ng-model="vm.vehicleFilter" ng-change="vm.onvehicleChange()">
            <md-option ng-repeat="vehicle in vm.vehicleFilterList" value="{{vehicle.name}}">
               {{vehicle.name}}
            </md-option>
         </md-select>
      </div>-->
   <!--</div>
   <br>
</div>-->
<md-card>
   <md-card-content>
      <div layout-align="end start" layout-xs="coloumn" layout-sm="row" layout-md="row" layout-gt-md="row" flex="70">
      </div>
      <div layout-xs="coloumn" layout-sm="row" layout-md="row" layout-gt-md="row">

          <div flex-xs="100" flex="50">
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title">Engine Alerts</h3>
            </div>


            <br><br>


      <div layout="column" style="margin-bottom:12px !important" flex="100" layout-xs="column">
          <div layout="row">
            <tab-list style="margin-left: 15px;width: 40%;" flex="45" flex-xs="100" icon="icon-warning-general" number="{{vm.red_stop_lamp_status}}" header="Red Stop" content="Lamp Status" bgcolor="#FF6103 " style="margin-right:10px "></tab-list>
            <tab-list style="margin-left: 15px;width: 40%;" flex="45" flex-xs="100" icon="icon-warning-general"  number="{{ vm.malfunction_indicator_lamp_status }}" header="Malf" content="Indicator Lamp Status" bgcolor="#52D5F5 " style="margin-right:10px"></tab-list>
          </div>
            <br>
          <div layout="row">
            <tab-list style="margin-left: 15px;width: 40%;" flex="45" flex-xs="100" icon="icon-warning-general"  number="{{vm.protect_lamp_status}}" header="Protect" content="Lamp Status" bgcolor="#7B68EE
            " style="margin-right:10px "></tab-list>
            <tab-list style="margin-left: 15px;width: 40%;" flex="45" flex-xs="100" icon="icon-warning-general"  number="{{vm.amber_lamp_status}}" header="Amber" content="Lamp Status" bgcolor="#fd7c00" style="margin-right:10px "></tab-list>       
           </div>
            <br>    
      </div>

<!--

            <center>
            <ul class="stats_box"  flex-xs="98" flex="98" style="padding-left:10%;margin-bottom: 0px;">
               <li>
                  <div class="sparkline line_day">
                     <md-icon style="font-size: 45px;" md-font-icon="icon-information"></md-icon>
                  </div>
                  <div class="stat_text">
                     <strong>Red Stop Lamp Status</strong>
                     <span class="percent up"> <i class="fa fa-caret-up"></i>{{ vm.red_stop_lamp_status}} </span> 
                  </div>
               </li>
               <li>
                  <div class="sparkline line_day">
                     <md-icon style="font-size: 45px;" md-font-icon="icon-information"></md-icon>
                  </div>
                  <div class="stat_text">
                     <strong>Malfunction Indicator Lmp Status</strong>
                     <span class="percent up"> <i class="fa fa-caret-up"></i>{{ vm.malfunction_indicator_lamp_status }}</span> 
                  </div>
               </li>
               <li>
                  <div class="sparkline line_day">
                     <md-icon style="font-size: 45px;" md-font-icon="icon-information"></md-icon>
                  </div>
                  <div class="stat_text">
                     <strong>Protect Lamp Status</strong>
                     <span class="percent up"> <i class="fa fa-caret-up"></i>{{ vm.protect_lamp_status }}</span> 
                  </div>
               </li>
               <li>
                  <div class="sparkline line_day">
                     <md-icon style="font-size: 45px;" md-font-icon="icon-information"></md-icon>
                  </div>
                  <div class="stat_text">
                     <strong>Amber Lamp Status</strong>
                     <span class="percent up"> <i class="fa fa-caret-up"></i>{{ vm.amber_lamp_status }}</span> 
                  </div>
               </li>
            </ul>
            <center>-->
         </div>
          </div>

          <div flex-xs="100" flex="50">
              <div class="panel panel-primary"  flex-xs="100" style="margin-left: 5px;">
            <div class="panel-heading">
               <h3 class="panel-title">Schedule Maintenance</h3>
            </div>
            <center>

                <bR><bR><bR>
                    <table class="table table-bordered table-striped">
                  <thead>
                     <tr>
                        <td>Maintenance Date (Past)</td>
                        <td>Engine Hours</td>
                     </tr>
                  </thead>
                    <tr ng-repeat="main in vm.scheMaintenance">
                        <td> {{ main.lastThree }}</td>
                        <td>  {{ main.engineHoursAfterMain }}</td>
                     </tr>
                    </tbody>
                    </table>

                    <div flex="40">
                    <tab-list flex="80" flex-xs="100" icon="icon-calendar"   number="22 Dec,16" content="Next Maintenance" bgcolor="#73B9A2
                    " style="margin-right:10px "></tab-list>
                    </div>       

         </div>
          </div>
      </div>
      <div layout-xs="coloumn" layout-sm="row" layout-md="row" layout-gt-md="row">
      <div flex-xs="100" flex="100">
         <div flex="100" style="margin-top: 5px;">
            <div class="panel panel-primary"  flex-xs="100" flex="100">
               <div class="panel-heading">
                  <h3 class="panel-title">Alerts</h3>
               </div>
               <div class="panel-body">
                  <md-list>
                     <div ng-repeat="item in vm.filteredActivityAlarmItems | orderBy: '-timestamp'">
                        <alarm-list-item ng-if="item.type === 'alarm'" alarm="item"></alarm-list-item>
                        <activity-list-item  ng-if="item.type === 'activity'" activity="item" item-type="long"></activity-list-item>
                        <md-divider ng-if="item.type === 'alarm' || item.type === 'activity'">
                     </div>
                     <div ng-if="!vm.filteredActivityAlarmItems.length && vm.search !== ''">
                        <p>No items match your search.</p>
                     </div>
                  </md-list>
               </div>
            </div>
         </div>
      </div>
   </md-card-content>
</md-card>
<div>